#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
}
body{
  background: rgb(0, 234, 255);
}
header{
  display: flex;
  margin-bottom: 1.4rem;
  justify-content: space-between;
}
.score-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20%;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  gap: 2.4rem;
}
.card{
  padding: 1.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  border-radius: 1rem;
}
.card-name{
  color: #fff;
}
img{
  height: 120px;
}